body {
    background-image: 
      url(assets/images/backdrop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Orbitron', sans-serif;  
}

h1 { 
    background-position: auto;
    background-color: red;
    font-family: 'Orbitron', sans-serif;
    text-align: auto;
}